# Local environments
*.idea
*.env

# System-related
**/.DS_Store         # macOS file system metadata

venv/

# Python-related
*__pycache__

# R-related
.Rhistory         # R session history
.Rprofile         # R profile configuration
.RData            # R workspace data
.Ruserdata/        # R user data
.Rproj.user/       # RStudio project-specific files
.Rapp.history      # R application history
.Rapp.default      # R application default settings
.Renviron          # Custom R environment settings

# Ignore renv/ folder, but keep renv.lock file for reproducibility
renv/
!renv.lock         # Keep this to ensure project reproducibility

# jupyter
*.ipynb_checkpoints

# Plots that are created by the code
*Plots*/
.Rproj.user
