# Local environments
*.idea
*.env

# System-related
.DS_Store         # macOS file system metadata

venv/

# python
*__pycache__

# R-related
.Rhistory         # R session history
.RData            # R workspace data
.Ruserdata/         # R user data
.Rproj.user/        # RStudio project-specific files
.Rapp.history      # R application history
.Rapp.default      # R application default settings
# R package cache
.Renviron          # Custom R environment settings
/renv              # renv environment directory

# jupyter
*.ipynb_checkpoints


# Plots that are created by the code
*Plots*/